* {
    margin: 0;
    padding: 0;
}

body {
    height: 200vh;
    position: relative;
    background-color: rgba(203, 118, 118, 0.573);
    /* padding: 40px 0; */
}

header {
    position: sticky;
    top: 0px;   
    height: 5%;
    background-color: lightblue;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: rgb(78, 78, 78);
    font-size: 25px;
}

header nav {
    padding: 5px;
    position: relative;
    left: 5%;
    font-size: 40px;
}

header nav .menu {
    position: absolute;
    right: 80px;
    padding: 5px 0;
    font-size: 30px;
}

header nav .menu span {
    margin: 0 10px;
    /* background-color: #fff; */
}

main {
    position: relative;
}
main .linkedin {
    position: fixed;
    bottom: 40px;
    right: 40px;
}